@font-face {
    font-family: 'DM Mono';
    font-weight: 500;
    src: url('fonts/DMMono-Medium.ttf') format('truetype');
}

html {
    --color-bg: #F2F2F2;
    --color-bg-highlight: #FFFFFF;
    --color-option-unselected: #E0E0E0;
    --color-selected--rgb: 101, 150, 226;
    --color-text: #2a2a2a;
    --color-text-highlight: #2a2a2a;
}

@media(prefers-color-scheme: dark) {
    html {
        --color-bg: #1a1715;
        --color-bg-highlight: #000000;
        --color-text: #885a00;
        --color-text-highlight: #911400;
        --color-selected--rgb: 145, 20, 0;
        --color-text-on-selected: #bd7c01;
        --color-option-unselected: #000;
    }
}

*:not(input):not(select) {
    color: var(--color-text);
}

html, body {
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 14px;
    background: var(--color-bg);
}

.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 24rem;
    box-sizing: border-box;
    border-right: 0.1rem solid var(--color-text);
    background: var(--color-bg);
    z-index: 1000;
}

.sidebar-close {
    float: right;
    margin-right: 1rem;
}

.sidebar__inner {
    clear: both;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 0rem 0 1rem 1rem;
    overflow-x: hidden;
    overflow-y: auto;
}

.sidebar-tree-entry {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 4rem;
}

.sidebar-tree-entry--level-1 {
    padding-left: 1.5rem;
}

.sidebar-tree-entry--clickable {
    cursor: pointer;
}

.sidebar-tree-entry--active {
    background: rgb(var(--color-selected--rgb));
    font-weight: bold;
}

.sidebar-tree-entry--clickable:not(.sidebar-tree-entry--active):hover {
    background: rgba(var(--color-selected--rgb), 0.31);
}

.sidebar-tree-entry__label {
    display: inline-block;
    flex-grow: 1;
    align-self: center;
}

.sidebar-tree-entry-action {
    height: 100%;
    aspect-ratio: 0.7;
    flex-grow: 0;
    display: flex;
    align-items: center;
}

.sidebar-tree-entry-action:not(.disabled) {
    cursor: pointer;
}

.sidebar-tree-entry-action.disabled {
    color: #ccc;
}

.sidebar-tree-entry-action .bi {
    display: inline-block;
    font-size: 1.5rem;
    margin: 0 auto;
}

.sidebar__bottom {
    position: absolute;
    left: 0;
    bottom: 0;
    border-top: 0.1rem solid var(--color-text);
    width: 100%;
    height: 4rem;
    padding: 1rem;
    box-sizing: border-box;
    background: var(--color-bg);
}

.connectivity-indicator {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    display: inline-block;
    margin-right: 0.4rem;
}
.connectivity-indicator-active {
    background: radial-gradient(circle at center, #00e200 0, transparent 0.75rem, transparent 100%);
}
.connectivity-indicator-inactive {
    background: radial-gradient(circle at center, #e20000 0, transparent 0.75rem, transparent 100%);
}

body.during-global-drag * {
    user-select: none;
}

.continuous-dial .rotary-slider {
    margin: 0 auto;
}

.rotary-slider:focus {
    outline: 0 none;
}

.rotary-slider:focus .rotary-slider__knob {
    box-shadow: rgb(var(--color-selected--rgb)) 0 0 0.5rem, inset rgb(var(--color-selected--rgb)) 0 0 0.5rem;
}

.rotary-slider__marker-container {
    width: 100%;
    height: 100%;
}

.rotary-slider__marker {
    box-sizing: content-box;
    border-right: 0.2rem solid var(--color-text-highlight);
    width: calc(50% - 0.1rem);
    height: 10%;
}

.rotary-slider__knob {
    width: 80%;
    height: 80%;
    margin: -90% 10% 10% 10%;
    border: 0.1rem solid var(--color-text);
    border-radius: 50%;
    background: var(--color-bg-highlight);
}

.rotary-slider__knob .rotary-slider__marker {
    box-sizing: content-box;
    width: calc(50% - 0.1rem);
    height: 40%;
    border-right: 0.2rem solid var(--color-text-highlight);
}

.discrete-choices-container {
    display: flex;
    flex-direction: column;
    height: 5.5rem;
}

.discrete-choice {
    text-align: center;
    width: 100%;
    background: var(--color-option-unselected);
    cursor: pointer;
    flex-grow: 1;
    display: flex;
    align-items: center;
}

.discrete-choice label {
    width: 100%;
    cursor: pointer;
    font-family: 'DM Mono', monospace;
    font-weight: 500;
}

.discrete-choice--checked {
    background: rgb(var(--color-selected--rgb));
}

.discrete-choice--checked label {
    color: var(--color-text-on-selected);
}

.boolean-parameter input[type="checkbox"] {
    cursor: pointer;
}

.boolean-parameter__checkbox-display {
    border: 0.2rem solid var(--color-text);
    border-radius: 0.75rem;
    background: var(--color-bg-highlight);
}

.boolean-parameter:has(input:hover) .boolean-parameter__checkbox-display,
.boolean-parameter:has(input:focus) .boolean-parameter__checkbox-display {
    box-shadow: rgb(var(--color-selected--rgb)) 0 0 0.5rem;
}

.boolean-parameter__checkbox-display .bi {
    font-size: 3rem;
    line-height: 3.5rem;
    visibility: hidden;
}

.boolean-parameter__checkbox-display--checked .bi {
    visibility: visible;
}

.parameter-label {
    text-transform: uppercase;
    font-family: 'DM Mono', monospace;
    font-weight: 500;
}

.topbar {
    border-bottom: 0.1rem solid var(--color-text);
}

.simulation-config {
    z-index: 500;
}

.container-xxl {
    max-width: 960px;
}

@media(max-width: 1639px) {
    .container-xxl {
        margin-left: 24rem;
        max-width: calc(100% - 24rem);
    }
}

@media(min-width: 52rem) {
    .sidebar-open, .sidebar-close {
        display: none;
    }
}

@media(max-width: 52rem) {
    .sidebar {
        left: -24rem;
        transition: ease-in 0.25s;
    }

    .sidebar.open {
        left: 0;
    }

    .container-xxl {
        margin-left: auto;
        margin-right: auto;
        max-width: 100%;
    }
}